#dag-container {
    position: relative;
    overflow: auto;
}
.task {
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 150px;
    text-align: center;
    line-height: 40px;
    font-family: Arial, sans-serif;
    cursor: pointer;
    padding: 5px 8px;
    border-radius: 8px;
}
.task p {
    font-size: 13px;
    font-weight: bold;
    line-height: normal;
}
.task img {
    width: 25px;
    height: 25px;
}
svg.arrow {
    position: absolute;
    z-index: -10;
}
svg.arrow line {
    stroke: #ffc107;
    stroke-width: 2;
}
svg.arrow polygon {
    fill: #ffc107;
}
