<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dagger</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="/static/css/dag.css"/>
        <link rel="stylesheet" href="/static/css/font-awesome.min.css"/>
    </head>
    <body class="font-sans">
        <input type="hidden" id="dag-id" value="{{ .ID }}" />

        <!-- Navbar -->
        <nav class="bg-blue-600 p-4">
            <div class="container mx-auto flex justify-between items-center">
                <a href="/" class="text-white text-2xl font-semibold">Dagger</a>
                <div class="space-x-4">
                    <a href="/dags" class="text-white hover:text-gray-200">DAGs</a>
                    <a href="/executors" class="text-white hover:text-gray-200">Executors</a>
                </div>
            </div>
        </nav>

        <!-- Dag Diagram -->
        <div id="dag-container">
        </div>

        <!--Task Form Modal -->
        <div id="task-form-modal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden">
            <div class="bg-white rounded-lg shadow-lg w-9/12 p-6 relative">
                <h2 id="task-form-title" class="text-2xl font-semibold text-gray-800 mb-4">Add Task</h2>
                <form>
                    <div class="mb-4">
                        <label for="name" class="block text-sm font-medium text-gray-700">Name*</label>
                        <input type="text" name="name" id="task-name" required class="w-full mt-1 px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
                    </div>
                    <div class="mb-4">
                        <label for="executor-id" class="block text-sm font-medium text-gray-700">Executor*</label>
                        <select name="executor_id" id="task-executor-id" required class="w-full mt-1 px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
                            <option value="" diabled selected>Select an executor</option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <label for="type" class="block text-sm font-medium text-gray-700">Type*</label>
                        <select name="type" id="task-type" required class="w-full mt-1 px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
                            <option value="" disabled selected>Select a type</option>
                            <option value="go">Go</option>
                            <option value="python">Python</option>
                            <option value="docker">Docker</option>
                        </select>
                    </div>
                    <div id="taks-definition-block">
                        <div class="mb-4">
                            <label for="codeFilesZip" class="block text-sm font-medium text-gray-700">Upload Code Zip*</label>
                            <input type="file" id="code-files-zip" name="code_files_zip" required class="w-full mt-1 px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
                        </div>
                        <div class="mb-4">
                            <label for="command" class="block text-sm font-medium text-gray-700">Init Command</label>
                            <textarea id="task-command" name="command" rows="4" class="w-full mt-1 px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"></textarea>
                        </div>
                    </div>
                    <div class="flex justify-end">
                        <button id="cancel-task-form" type="button" class="px-4 py-2 border border-gray-400 text-gray-700 rounded-lg hover:bg-gray-200 transition-colors">Cancel</button>
                        <button id="submit-task-form" type="button" class="px-4 py-2 mx-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700">Submit</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Toast Container -->
        <div id="toast-container" class="fixed bottom-4 right-4 space-y-4 z-50"></div>

        <script src="/static/js/common.js"></script>
        <script src="/static/js/dag.js"></script>
    </body>
</html>
