<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dagger</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="/static/css/common.css"/>
        <link rel="stylesheet" href="/static/css/dag.css"/>
        <link rel="stylesheet" href="/static/css/font-awesome.min.css"/>
    </head>
    <body class="font-sans">
        <input type="hidden" id="dag-id" value="{{ .ID }}" />

        <!-- Navbar -->
        <nav class="p-4">
            <div class="flex justify-between items-center mx-2">
                <a href="/" class="text-white text-2xl font-semibold">Dagger</a>
                <div class="space-x-4">
                    <a href="/dags" class="text-white font-bold hover:text-gray-200">DAGs</a>
                    <a href="/executors" class="text-white font-bold hover:text-gray-200">Executors</a>
                </div>
            </div>
        </nav>

        <!-- Dag Metadata and Action -->
        <div id="dag-header">
            <div class="flex flex-row justify-end items-center mx-4">
                <p id="dag-name" class="text-lg font-bold mr-auto text-[#333333]"></p>
                <button id="run-dag" type="button" class="px-2 py-2 text-lg text-green-600 hover:text-green-700 transition-colors hidden" title="Run DAG">
                    <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                </button>
                <a id="export-dag" type="button" href="/api/v1/dags/{{ .ID }}/export" class="px-2 py-2 ml-1 text-lg text-orange-400 hover:text-red-700 transition-colors" title="Export DAG">
                    <i class="fa fa-download" aria-hidden="true"></i>
                </a>
                <button id="delete-dag" type="button" class="px-2 py-2 ml-1 text-lg text-red-600 hover:text-red-700 transition-colors hidden" title="Delete DAG">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </div>
            <hr class=""/>
        </div>
        <!-- Dag Diagram -->
        <div id="dag-container">
        </div>

        <!--Task Form Modal -->
        <div id="task-form-modal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden">
            <div class="bg-white rounded-lg shadow-lg w-2/5 p-6 relative">
                <h2 id="task-form-title" class="text-2xl font-semibold text-gray-800 mb-4">Add Task</h2>
                <form>
                    <div class="mb-4">
                        <label for="name" class="block text-sm font-medium text-gray-700">Name*</label>
                        <input type="text" name="name" id="task-name" required class="w-full mt-1 px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
                    </div>
                    <div class="mb-4">
                        <label for="executor-id" class="block text-sm font-medium text-gray-700">Executor*</label>
                        <select name="executor_id" id="task-executor-id" required class="w-full mt-1 px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
                            <option value="" diabled selected>Select an executor</option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <label for="type" class="block text-sm font-medium text-gray-700">Type*</label>
                        <select name="type" id="task-type" required class="w-full mt-1 px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
                            <option value="" disabled selected>Select a type</option>
                            <option value="docker">Docker</option>
                        </select>
                    </div>
                    <div id="taks-definition-block">
                        <div class="mb-4">
                            <label for="codeFilesZip" class="block text-sm font-medium text-gray-700">Upload Code Zip*</label>
                            <input type="file" id="code-files-zip" name="code_files_zip" required class="w-full mt-1 px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
                        </div>
                        <div class="dynamic-fields">
                            <div class="type-docker hidden">
                                <div class="mb-4">
                                    <label for="command" class="block text-sm font-medium text-gray-700">Dockerfile Path</label>
                                    <input id="dockerfile-path" name="dockerfile-path" class="w-full mt-1 px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-end">
                        <button id="cancel-task-form" type="button" class="px-4 py-2 border border-gray-400 text-gray-700 rounded-lg hover:bg-gray-200 transition-colors">Cancel</button>
                        <button id="submit-task-form" type="button" class="px-4 py-2 mx-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700">Submit</button>
                    </div>
                </form>
            </div>
        </div>

        <!--Task Details Modal -->
        <div id="task-details-modal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden">
            <div class="bg-white rounded-lg shadow-lg w-2/5 p-6 relative">
                <div class="header flex flex-row">
                    <h2 class="title text-2xl font-semibold text-gray-800 mb-4">Task Logs</h2>
                    <div class="menu-actions ml-auto">
                        <i id="task-details-close" class="fa fa-times cursor-pointer text-xl text-gray-400 mx-2"></i>
                    </div>
                </div>
                <div class="details relative"></div>
            </div>
        </div>

        <!-- Toast Container -->
        <div id="toast-container" class="fixed bottom-4 right-4 space-y-4 z-50 flex flex-col"></div>

        <script src="/static/js/common.js"></script>
        <script src="/static/js/dag.js"></script>
    </body>
</html>
