<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dagger</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="/static/css/executors.css"/>
    </head>
    <body class="font-sans">

        <!-- Navbar -->
        <nav class="bg-blue-600 p-4">
            <div class="container mx-auto flex justify-between items-center">
                <a href="/" class="text-white text-2xl font-semibold">Dagger</a>
                <div class="space-x-4">
                    <a href="/dags" class="text-white hover:text-gray-200">DAGs</a>
                    <a href="/executors" class="text-white hover:text-gray-200">Executors</a>
                </div>
            </div>
        </nav>

        <!-- Main Content -->
        <div class="container mx-auto mt-10">
            <div id="no-result-found" class="flex flex-col justify-center items-center hidden">
                <h2 class="text-center mb-3">No executor available</h2>
                <button class="add-executor bg-blue-500 text-white px-3 py-1 rounded hover:bg-blue-600 w-[20%]">Add Executor</button>
            </div>
            <div id="result-found" class="flex flex-col bg-white shadow-md rounded my-6">
                <button class="add-executor bg-blue-500 text-white px-3 py-1 m-2 ml-auto rounded hover:bg-blue-600 w-[20%]">Add Executor</button>
                <table class="min-w-full table-auto">
                    <thead>
                        <tr class="bg-gray-600 text-white uppercase text-sm leading-normal">
                            <th class="py-3 px-6 text-left">ID</th>
                            <th class="py-3 px-6 text-left">Name</th>
                            <th class="py-3 px-6 text-left">Type</th>
                            <th class="py-3 px-6 text-left">Created At</th>
                        </tr>
                    </thead>
                    <tbody id="executors" class="text-gray-600 text-sm font-light">
                        <!-- Table rows will be injected here -->
                    </tbody>
                </table>
                <div id="pagination-control" class="flex justify-center items-center px-5 py-3 bg-gray-100 border-t">
                    <button id="prev-btn" class="bg-gray-500 text-white px-3 py-1 rounded hover:bg-gray-600">Previous</button>
                    <span id="pagination-info" class="text-gray-600"></span>
                    <button id="next-btn" class="bg-gray-500 text-white px-3 py-1 rounded hover:bg-gray-600">Next</button>
                </div>
            </div>
        </div>

        <!--Form Modal -->
        <div id="executor-form-modal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden">
            <div class="bg-white rounded-lg shadow-lg w-9/12 p-6 relative">
                <h2 id="executor-form-title" class="text-2xl font-semibold text-gray-800 mb-4">Add Task</h2>
                <form>
                    <div class="mb-4">
                        <label for="name" class="block text-sm font-medium text-gray-700">Name*</label>
                        <input id="executor-name" type="text" name="name" required class="w-full mt-1 px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
                    </div>
                    <div class="mb-4">
                        <label for="message" class="block text-sm font-medium text-gray-700">Type*</label>
                        <select id="executor-type" name="type" required class="w-full mt-1 px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
                            <option value="" disabled selected>Select a type</option>
                            <option value="docker">Docker</option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <label for="config" class="block text-sm font-medium text-gray-700">Config (JSON)*</label>
                        <textarea id="executor-config" name="config" required rows="4" class="w-full mt-1 px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"></textarea>
                    </div>
                    <div class="flex justify-end">
                        <button id="cancel-executor-form" type="button" class="px-4 py-2 border border-gray-400 text-gray-700 rounded-lg hover:bg-gray-200 transition-colors">Cancel</button>
                        <button id="submit-executor-form" type="button" class="px-4 py-2 mx-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700">Submit</button>
                    </div>
                </form>
            </div>
        </div>

        <script src="/static/js/common.js"></script>
        <script src="/static/js/executors.js"></script>
    </body>
</html>



